<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title"><span class="glyphicon glyphicon-user"></span> @Html.ActionLink("网站设置", "Index", "WebConfig")</div>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <div class="list-group-item"><span class="glyphicon glyphicon-list"></span>  @Html.ActionLink("基本设置", "Index", "WebConfig")</div>
            <div class="list-group-item"><span class="glyphicon glyphicon-list"></span>  @Html.ActionLink("高级设置", "Index", "WebConfig")</div>
        </div>
    </div>
</div>

