
@{
    ViewBag.Title = "About";
    Layout = "~/Areas/Member/Views/Shared/_Layout.cshtml";
}
@section SideNav{@Html.Action("_HomeSideNavPartial", "Side")}


<div class="panel panel-green-sea">
    <div class="panel-heading" style="background-color: #B4EEB4; ">
        <h2 class="panel-h1-title" style="color: #FFFFFF">
            关于本站
        </h2>
    </div>
    <div class="panel-body" >
        <h2 style="color: #C2C2C2">   Just about me</h2>
        <p style="color: #8b8378">
            我是一个普通的开发者<br/>
            我是一个普通的开发者<br/>
            我是一个普通的开发者<br/>
            我是一个普通的开发者<br/>
            我是一个普通的开发者<br/>
        </p>
        <hr />
        <h2 style="color: #C2C2C2"> About my blog</h2>
        <div>
            <p style="color: #8b8378">
                技术参数：<br/>
                ORM： EF<br/>
                IOC： MEF<br/>
                思想： 伪DDD<br/>
                日志：log4net<br/>
                Odt：AutoMapper<br />
                开发语言： ASP.NET MVC5(C#)<br/>
                数据库： SqlServer 2008<br/>
            </p>
        </div>
        <hr />
        <h2 style="color: #C2C2C2">Code DownLoad</h2>
        <div>
            <p style="color: #8b8378">

                博客代码（GitHub）： <a style="color: #FF8C00; font-weight: bold; font-size: 15px" target="_Blank" href="https://github.com/yhyboy/Blog">https://github.com/yhyboy/YhyBlog</a><br/>
                数据库文件：<a style="color: #FF8C00; font-weight: bold; font-size: 15px" target="_Blank" href="#">使用CodeFrist 无需</a><br/>
            </p>
        </div>

        <hr />
        <h2 style="color: #C2C2C2"> refer to</h2>
        <div>
            <p style="color: #8b8378">

                <a style="color: #AB82FF; font-weight: bold; font-size: 15px" target="_Blank" href="http://www.cnblogs.com/mzwhj/p/5183779.html">洞庭夕照博客园MVC5网站开发</a><br/>
                <a style="color: #AB82FF; font-weight: bold; font-size: 15px" target="_Blank" href="http://www.cnblogs.com/lori">仓储大叔（最近用上PS了~）</a><br/>
                <a style="color: #AB82FF; font-weight: bold; font-size: 15px" target="_Blank" href="http://blog.csdn.net/x_craft/article/details/40379143">EF CodeFirst 级联删除</a><br/>
                <a style="color: #AB82FF; font-weight: bold; font-size: 15px" target="_Blank" href="http://www.cnblogs.com/xishuai/p/ddd-repository-iunitofwork-and-idbcontext.html">DDD 领域驱动设计－谈谈 Repository、IUnitOfWork 和 IDbContext 的实践（1）</a><br/>
                <a style="color: #AB82FF; font-weight: bold; font-size: 15px" target="_Blank" href="http://www.cnblogs.com/xishuai/p/ddd-repository-iunitofwork-and-idbcontext-part-2.html">DDD 领域驱动设计－谈谈 Repository、IUnitOfWork 和 IDbContext 的实践（2）</a><br/>
                <a style="color: #AB82FF; font-weight: bold; font-size: 15px" target="_Blank" href="http://www.cnblogs.com/guomingfeng/archive/2013/05/21/mvc-ioc-mef.html">MVC实用架构设计（二）——使用MEF应用IOC（依赖倒置）-郭明锋</a><br/>
                <a style="color: #AB82FF; font-weight: bold; font-size: 15px" href="http://www.cnblogs.com/" target="_Blank">.............</a><br/>
            </p>
        </div>
        <hr />
    </div>
</div>